{% extends "base.html" %}
{% load cache %}
{% block content %}
<div class="container my-4">
  <h1 class="text-danger fw-bold mb-4 text-center">Блог барбершопа "Зигзаг удачи"</h1>
  <div class="d-flex flex-column align-items-center gap-4">
    {% for post in posts %}
      <div class="w-100 d-flex justify-content-center">
        {% include "blog/post_card_include.html" with post=post %}
      </div>
    {% empty %}
      <p class="text-center">Постов пока нет.</p>
    {% endfor %}
  </div>

  {% if page_obj.has_other_pages %}
    <nav aria-label="Пагинация" class="mt-4">
      <ul class="pagination pagination-lg justify-content-center">
        {% for page in page_obj.paginator.page_range %}
          {% if page == page_obj.number %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ page }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</div>


{% endblock %}
