{%  extends "base.html" %}
{% block content %}
            <div class="row">
                <h1>{{title}}</h1>
            </div>
            <div class="row">
                {% for order in orders %}
                <!-- Для 2 карточек в ряд используем col-md-6 -->
                <!-- Для 3 карточек в ряд заменить на col-md-4 -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    {% include 'core/order_card_include.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock content %}